@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
.main-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main-page .tab-container {
  grid-row: 1;
  flex-basis: 40px;
}
.main-page-content {
  flex-grow: 1;
  background-color: var(--colour-white);
  padding: 15px;
}

@media only screen and (min-width: 889px) {
  .main-page-content {
    border-radius: 5px;
  }
  .main-page-content-first-tab-selected {
    border-radius: 0 5px 5px 5px;
  }
}
/*Mobile only*/
@media only screen and (max-width: 888px) {
  .main-page-content {
    padding-bottom: 50px;
  }
}
.single-post {
  height: 100%;
  background-color: var(--colour-white);
  /*Desktop only*/
}
@media only screen and (min-width: 889px) {
  .single-post {
    border-radius: 5px;
  }
}

.tab {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  border: none;
}
.tab-container {
  display: flex;
}
.tab:hover .tab-text {
  color: var(--colour-dark-grey);
}
.tab-text {
  margin: 0;
  color: var(--colour-white);
  text-decoration: underline;
  font-weight: bold;
}
.tab-selected {
  background-color: var(--colour-white);
}
.tab-selected:hover .tab-text {
  color: var(--colour-light-light-blue);
}
.tab-selected .tab-text {
  color: var(--colour-dark-grey);
  text-decoration: none;
  cursor: default;
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
  .tab-text {
    font-size: 20px;
  }
}
/*Mobile only*/
@media only screen and (max-width: 889px) {
  .tab-text {
    font-size: 17px;
  }
  .tab-container {
    justify-content: center;
  }
}
.title {
  font-family: "Gluten", cursive;
  color: var(--colour-white);
}
.title-container {
  margin-top: 10px;
  grid-row: 1;
  display: flex;
  align-items: center;
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
  .title {
    font-family: "Gluten", cursive;
    font-size: 70px;
  }
}
/*Mobile only*/
@media only screen and (max-width: 888px) {
  .title {
    font-size: 50px;
    margin: 10px;
  }
  .title-container {
    justify-content: center;
  }
}
.post {
  color: var(--colour-dark-grey);
  /*Desktop only*/
  /*Mobile only*/
}
.post p, .post h3 {
  margin: 0;
  padding: 0;
}
.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post-date {
  font-size: 15px;
  color: var(--colour-grey);
}
.post .post-title {
  font-size: 16px;
  color: var(--colour-);
  border: none;
  padding: 0;
  background: none;
  text-align: left;
}
.post-image-container a, .post-image-container img {
  width: 100%;
}
.post-video-container iframe {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (min-width: 889px) {
  .post-image-container {
    max-width: 600px;
    max-height: 600px;
  }
  .post-video-container {
    max-width: 600px;
  }
  .post .post-title {
    width: 400px;
  }
}
@media only screen and (max-width: 888px) {
  .post-image-container {
    width: 100%;
  }
  .post-video-container {
    width: 100%;
  }
}

.post-single-post {
  padding: 15px;
}

.post-main-page .post-title {
  text-decoration: underline;
  cursor: pointer;
}
.post-main-page .post-title:hover {
  color: var(--colour-dark-blue);
}

.el-buttons-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}
.el-buttons-button {
  background-color: var(--colour-white);
  border: none;
  color: var(--colour-light-dark-grey);
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.el-buttons-disabled {
  cursor: default;
  color: var(--colour-light-grey);
}
.el-buttons-button:hover {
  color: var(--colour-dark-blue);
}
.el-buttons-disabled:hover {
  color: var(--colour-light-grey);
}
.el-buttons-later {
  grid-column: 1;
  text-align: left;
}
.el-buttons-earlier {
  grid-column: 3;
  text-align: right;
}

.sharable-link-button span {
  display: flex;
  gap: 10px;
  color: var(--colour-white);
  background-color: var(--colour-light-blue);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px 3px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.sharable-link-button span:hover {
  background-color: var(--colour-blue);
}
.sharable-link-button svg {
  padding-top: 1px;
  fill: var(--colour-white);
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
  .sharable-link-button span {
    width: 140px;
  }
}
body {
  --colour-blue: #63b6ff;
  --colour-light-light-blue: #b3dbfc;
  --colour-light-blue: #71b8f5;
  --colour-dark-blue: #1072c7;
  --colour-dark-grey: #242424;
  --colour-light-dark-grey: #353535;
  --colour-grey: #666666;
  --colour-light-grey: #aaaaaa;
  --colour-white: white;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  font-family: "Catamaran", sans-serif;
  display: flex;
  justify-content: center;
}

button {
  font-family: "Catamaran", sans-serif;
  margin: 0;
}

.main-container {
  flex-grow: 1;
  background-color: var(--colour-light-blue);
  max-width: 1000px;
  display: grid;
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
  .main-container {
    margin: 15px;
    grid-template-rows: 100px 1fr;
    padding: 0 30px 30px 30px;
    border-radius: 5px;
  }
}
/*Mobile only*/
@media only screen and (max-width: 888px) {
  .main-container {
    grid-template-rows: 70px 1fr;
  }
}

/*# sourceMappingURL=App.css.map */
