.page-container {
	--colour-blue: #0d2d4a;
	--colour-light-light-light-blue: #b3dbfc;
	--colour-light-light-blue: #83c4fc;
	--colour-light-blue: #71b8f5;
	--colour-dark-blue: #1072c7;
	--colour-dark-grey: #242424;
	--colour-light-dark-grey: #353535;
	--colour-grey: #666666;
	--colour-light-grey: #aaaaaa;
    --colour-white: white;
	--colour-mode: #b3dbfc;
	--colour-mode-secondary: #1072c7;
	--colour-mode-secondary-hover: #71b8f5;
	--colour-mode-icon: yellow;
	--colour-earlier-later-enabled: #242424;
	--colour-earlier-later-disabled: #aaaaaa;
}

.page-container--dark-mode {
    --colour-white: #353535;
    --colour-dark-grey: #aaaaaa;
	--colour-mode: #1b2936;
	--colour-mode-secondary: #0b528f;
	--colour-mode-secondary-hover: #1072c7;
	--colour-mode-icon: #aaaaaa;
	--colour-earlier-later-enabled: #aaaaaa;
	--colour-earlier-later-disabled: #555555;
}