.copy-to-clipboard-button {
    position: relative;

    span {
        display: flex;
        gap: 10px;

        width: 140px;
        color: var(--colour-white);
        background-color: var(--colour-blue);
        border: none;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px 10px 3px 10px;
        margin: 10px 0 20px 0;
        cursor: pointer;

        &:hover, &:active {
            background-color: var(--colour-dark-blue);
        }
    }

    &-copied-notice {
        pointer-events: none;
        position: absolute;
        top: 10px;
        left: 120px;
        padding: 5px 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colour-blue);
        border-radius: 5px;
        box-shadow: 2px 2px 6px var(--colour-grey);
        background-color: var(--colour-white);
        font-size: 15px;
        font-weight: bold;

        transition-property: opacity;
        transition-duration: 0.5s;
        
        @keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;} 
        } 

        &-hidden {
            opacity: 0;
        }
    }
    

    svg {
        padding-top: 2px;
        fill: var(--colour-white);
    }
}