@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
body {
	--colour-blue: #63b6ff;
	--colour-light-light-blue: #b3dbfc;
	--colour-light-blue: #71b8f5;
	--colour-dark-blue: #1072c7;
	--colour-dark-grey: #242424;
	--colour-grey: #666666;
	--colour-light-grey: #aaaaaa;
    --colour-white: white;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.page-container {
	width: 100%;
	height: 100%;
	display: flex;
	font-family: 'Catamaran', sans-serif;
}

.main-container {
	flex-grow: 1;
	background-color: var(--colour-light-blue);
	
	display: grid;
}

.title-container {
	grid-row: 1;
}

.title {
	font-family: 'Gluten', cursive;
	color: white;
}

.content {
    grid-row: 2;
}

@media only screen and (min-width: 889px) {
	.main-container {
		margin: 50px;
		grid-template-rows: 100px 1fr;
	}
}
 

@media only screen and (max-width: 888px) {
	.main-container {
		grid-template-rows: 70px 1fr;
	}
}
