.post {
	color: var(--colour-dark-grey);
    padding: 15px;

    p, h3 {
        margin: 0;
        padding: 0;
    }

    &-container {
        display: flex;
        flex-direction: column;
    }

    &-date {
        font-size: 15px;
        color: var(--colour-grey);
    }

    &-title {
        font-size: 16px;
        margin-bottom: 20px;
        color: var(--colour-);

        border-bottom: 1.5px solid var(--colour-light-grey);
    }

    &-image-container {
        a, img {
            width: 100%;
        }
    }

    &-video-container {
        iframe {
            width: 100%;
            border-radius: 5px;
        }
    }

    /*Desktop only*/
    @media only screen and (min-width: 889px) {
        &-image-container {
            max-width: 600px;
            max-height: 600px;
        }

        &-video-container {
            max-width: 600px;
        }

        &-title {
            width: 400px;
        }
    }
    
    /*Mobile only*/
    @media only screen and (max-width: 888px) {
        &-image-container {
            width: 100%;
        }

        &-video-container {
            width: 100%;
        }
    }
}