.sharable-link-button {
    span {
        display: flex;
        gap: 10px;

        color: var(--colour-white);
        background-color: var(--colour-light-blue);
        border: none;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px 10px 3px 10px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--colour-blue);
        }
    }

    svg {
        padding-top: 1px;
        fill: var(--colour-white);
    }
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
    .sharable-link-button {
        span {
            width: 140px;
        }
    }
}