.tab {
	padding: 5px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    border: none;

    &-container {
        display: flex;
    }

    &:hover {
        .tab-text {
            color: var(--colour-dark-grey);
        }
    }

    &-text {
        margin: 0;
        color: var(--colour-white);
        text-decoration: underline;
        font-weight: bold;
    }

    &-selected {
        background-color: var(--colour-white);

        &:hover {
            .tab-text {
                color: var(--colour-light-light-blue);
            }
        }

        .tab-text {
            color: var(--colour-dark-grey);
            text-decoration: none;
            cursor: default;
        }
    }
}

/*Desktop only*/
@media only screen and (min-width: 889px) {
    .tab {
        &-text {
            font-size: 20px;
        }
    }
}

/*Mobile only*/
@media only screen and (max-width: 889px) {
    .tab {
        &-text {
            font-size: 17px;
        }

        &-container {
            justify-content: center;
        }
    }
}